@model IEnumerable<GOLAZO.Models.COMPLEJO>

@{
    ViewBag.Title = "Complejos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Complejos</h2>

<p>
    @Html.ActionLink("Crear Complejo", "Create")
</p>


@foreach (var item in Model)
{

<div class="card">
    <a href="@Url.Action("Detalles", "Details", new { id = item.ID })">
        <div class="card-body">
            <h2><b>@Html.DisplayFor(modelItem => item.NOMBRE)</b></h2>
            <p>@Html.DisplayFor(modelItem => item.UBICACION)</p>
        </div>
    </a>
    <div>
        @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
    </div>
</div>

}